@import "./variables";
@import "./mixin";

aside{
    background-color: $grayColor;
    padding: 20px;
    border-radius: 10px;
    @include xl {
        padding: 20px 10px;
    }
    figure{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 40px;
        }
        span{
            font-size: 25px;
            font-weight: bold;
            color: $greeenColor;
            @include lg{
                display: none;
            }
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            span{
                @include lg{
                    display: none;
                }
            }
            i{
                @include lg{
                    font-size: 18px;
                }
            }
            &:hover{
                background-color: $greeenColor;
                color: $blackColor;

            }
        }
    }
}
